.contentArea {
  background: #fff;
  padding: 120px 0;
}

@media only screen and (max-width: 736px) {
  .contentArea {
    padding: calc(120vw / 750 * 100) 0;
  }
}

.contentArea--lead {
  background: #000000;
  color: #ffffff;
}

.contentArea--lead + .contentArea {
  padding: 0 0 120px;
}

@media only screen and (max-width: 736px) {
  .contentArea--lead + .contentArea {
    padding: 0 0 calc(120vw / 750 * 100);
  }
}

.contentArea.is-darktone {
  background: #000000;
  color: #ffffff;
}

/* defaultSection */
.defaultSection {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

@media only screen and (max-width: 736px) {
  .defaultSection {
    padding-top: calc(50/750*100%);
    padding-bottom: calc(50/750*100%);
  }
}

.defaultSection__headline {
  font-size: 28px;
  line-height: calc(40 / 28);
}

@media only screen and (max-width: 736px) {
  .defaultSection__headline {
    font-size: calc(42vw / 750 * 100);
    padding: 0 calc(40vw / 750 * 100);
  }
}

.defaultSection__text {
  font-size: 14px;
  line-height: calc(26 / 14);
  margin-top: 20px;
}

@media only screen and (max-width: 736px) {
  .defaultSection__text {
    font-size: calc(21vw / 750 * 100);
    line-height: calc(42 / 21);
    margin-top: calc(17vw / 750 * 100);
    padding: 0 calc(40vw / 750 * 100);
  }
}

.photo {
  display: inline-block;
  position: relative;
}

.photo__caption {
  position: absolute;
  bottom: 5px;
  color: #fafafa;
  font-size: 12px;
  right: 5px;
}

@media only screen and (max-width: 736px) {
  .photo__caption {
    bottom: inherit;
    bottom: unset;
    font-size: calc(18vw / 750 * 100);
    right: 0;
    top: 100%;
  }
}

.fullVisual {
  position: relative;
}

.fullVisual__image {
  max-width: unset;
  width: 100%;
}

.fullVisual__caption {
  bottom: 5px;
  color: #fafafa;
  font-size: 12px;
  position: absolute;
  right: 5px;
}

.imgWrap {
  position: relative;
}

.imgWrap .caption {
  position: absolute;
  font-size: 12px;
}

.caption--inLeft {
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: left;
}

.caption--inUpLeft {
  top: 0;
  left: 0;
  padding: 5px;
  text-align: left;
}

.caption--outLeft {
  top: 100%;
  left: 0;
  padding: 5px 0;
  text-align: left;
}

.caption--inRight {
  bottom: 0;
  right: 0;
  padding: 5px;
  text-align: right;
}

.caption--inUpRight {
  top: 0;
  right: 0;
  padding: 5px;
  text-align: right;
}

.caption--outRight {
  top: 100%;
  right: 0;
  padding: 5px 0;
  text-align: right;
}

[data-color="red"] {
  color: #a50118;
}

[data-color="white"] {
  color: #fff;
}

[data-color="black"] {
  color: #000;
}

[data-color="sdw__white"] {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px rgba(0, 0, 0, 0.8);
}

[data-color="sdw__black"] {
  color: #000;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8), 0px 0px 5px rgba(255, 255, 255, 0.8), 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.layoutCol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layoutCol__item {
  width: 100%;
}

.layoutCol__item--two {
  width: calc(484/1000*100%);
}

@media only screen and (max-width: 736px) {
  .layoutCol__item--two {
    width: 100%;
  }
}

.layoutCol__item--three {
  width: calc(312/1000*100%);
}

@media only screen and (max-width: 736px) {
  .layoutCol__item--three {
    width: 100%;
  }
}

.layoutCol__item--threeDouble {
  width: calc(656/1000*100%);
}

@media only screen and (max-width: 736px) {
  .layoutCol__item--threeDouble {
    width: 100%;
  }
}

.is-reverse {
  flex-direction: row-reverse;
}

.is-center {
  align-items: center;
}

.is-end {
  align-items: flex-end;
}

.sp {
  display: none;
}

@media only screen and (max-width: 736px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

.imgWrap__box {
  padding: 30px 25px;
  color: #000;
  border: 1px solid #bfbfbf;
  background: #fff;
}

.imgWrap__box > .lowTxt {
  margin-bottom: 20px;
}

.imgWrap__box + .caption {
  margin-top: 10px;
}

/* text */
.leadTxt {
  font-size: 38px;
  line-height: 1.5;
}

@media only screen and (max-width: 736px) {
  .leadTxt {
    font-size: calc(48vw / 750 * 100);
  }
}

.lowTxt {
  font-size: 14px;
  letter-spacing: .16em;
  line-height: 1.857;
}

.lowTxt__small {
  font-size: 12px;
  line-height: 1.666;
}

.lowTxt__large {
  font-size: 24px;
}

@media only screen and (max-width: 736px) {
  .lowTxt__large {
    font-size: calc(40vw / 750 * 100);
  }
}
/*# sourceMappingURL=style.css.map */